<!-- <main>
  <a [routerLink]="['/']">
    <header class="brand-name">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
    </header>
  </a>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
    <section class="results">
      <app-housing-location *ngFor="let housingLocation of housingLocationList"
      [housingLocation]="housingLocation"></app-housing-location>
    </section>
  </main> -->
  <!-- <app-user></app-user> -->
  <!-- <section>
    
    <form>
      <input id="exchageRateDate" type="text" placeholder="Search Products Here"/>
      <button (click)="myFunc()" type='button' formtarget="_blank">Search</button>

    </form>
  </section>
  <h1>These are the list of all the Products</h1>
  
<ul class="list-group">
  <li 
      *ngFor="let post of posts"
      class="list-group-item">
      {{ post.title }}<br>
      {{ post.content }}
  </li>
</ul> -->
<router-outlet></router-outlet>